extends layout

block content
    h1.
        Home Page
    ul
        <a href="videolist">Get All Video JSON</a><br/>
        <a href="newvideo">Add A Video</a><br/>
        <a href="searchvideopage">Search for video JSON</a>
    